{% extends 'BackEnd/baseEnd.html.twig' %}
{% block title %} Sante 180° {% endblock %}
{% block bd %} 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

    <style>
        .btn-custom {
            background-color: #66CDAA;
            color: white;
            border-color: #66CDAA;
            width: 120px; /* largeur souhaitée */
            height: 30px; /* hauteur souhaitée */
        }

        .btn-custom:hover {
            background-color: #5cb85c;
            border-color: #5cb85c;
        }

        .btn-custom:focus,
        .btn-custom.focus {
            box-shadow: 0 0 0 0.2rem rgba(76, 168, 75, 0.5);
        }
    </style>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form action="{{ path('trier10') }}" method="GET" class="form-inline">
                        <div class="form-group mr-2">
                            <label for="tri">Trier par :</label>
                            <select name="tri" id="tri" class="form-control">
                                <option value="tri-croissant">Croissant</option>
                                <option value="tri-decroissant">Décroissant</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-custom">Trier</button> {# Bouton de soumission du formulaire principal #}
                    </form>

                    

                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>calories</th>
                                    <th>glucides</th>
                                    <th>lipides</th>
                                    <th>fibres</th>
                                    <th>proteines</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in response %}
                                <tr>
                                    <td>{{ t.id }}</td>
                                    <td>{{ t.calories }}</td>
                                   
                                    <td>{{ t.glucides}}</td>
                                    <td>{{ t.lipides }}</td>
                                     <td>{{ t.fibres}}</td>
                                    <td>{{ t.proteines}}</td>
                                    
                                    <td>
                                <a class="btn btn-primary btn-sm" href="{{ path('modifier', {'id': t.id}) }}" style="background: transparent; width: 100%;">   <i class="fas fa-edit" style="color: blue;"></i></a>
                                 <a class="btn btn-primary btn-sm" href="{{ path('supprimer', {'id': t.id}) }}" style="background: transparent; width: 100%;"><i class='fas fa-trash-alt' style='color:red'></i></a>





                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- colspan="4" pour occuper toutes les colonnes du tableau -->
    <div style="font-size: 24px;"> <!-- Changer la taille du texte à 24px -->
        <a class="btn btn-primary btn-lg" href="{{ path('ajouter') }}" style="padding: 15px 30px; font-size: 18px;">Ajouter</a> <!-- Utiliser btn-lg pour un bouton plus grand -->

                                    </div>
                                    
                    </div>
                    <!-- Table End -->
                

                    
                           
                    
  

                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>







{% endblock %}

