<h1>Activité {{ activite.id }}</h1>
<p><b> NOM : </b>{{ activite.nom }}</p>
<p><b> DESCRIPTION : </b>{{ activite.description }}</p>
<p><b> CATEGORIE : </b>{{ activite.categorie }}</p>
<p><b> NIVEAU: </b>{{ activite.niveau }}</p>