{% extends 'nutritions/FrontEnd/basef.html.twig' %}

{% block body %}

   <div class="container-fluid">

        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="card shadow mb-4">

                    <div class="card-header py-3">

                        <h6 class="m-0 font-weight-bold text-primary">Afficher nutrition</h6>

                    </div>

                    <div class="card-body">

                        <div class="table-responsive">

                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

    <thead>

    

        <tr>

            <th>id nutrition</th>

            <th>calories</th>

            <th>proteines</th>

            <th>glucides</th>

            <th>lipides</th>
              <th>fibres</th>

           

           

           

            

        </tr>

    </thead>

    <tbody>

        {% for t in response %}

            <tr>

                <td>{{ t.id }}</td>
                 <td>{{ t.calories }}</td>

                <td>{{ t.proteines }}</td>
                <td>{{ t.glucides }}</td>

                        <td>{{ t.lipides }}</td>
                         <td>{{ t.fibres }}</td>
             

                
               

              

               

                

                <td>

                  
                </td>
           

            </tr>

        {% endfor %}
           

    </tbody>

</table>

 

<style>

  

 

    .btn {

        display: inline-block;

        padding: 6px 12px;

        margin: 5px;

        text-decoration: none;

        border-radius: 4px;

    }

 

    .btn-update {

        background-color: #007bff;

        color: #fff;

    }

.btn-Add {

        background-color: #007bff;

        color: #fff;

    }

    .btn-delete {

        background-color: #fa0505;

        color: #fff;

    }

</style>

{% endblock %}