{% extends 'BackEnd/baseend.html.twig' %}
{% block title %} add {% endblock %}
{% block bd %}
<div id="wrapper">
    <!-- Content Wrapper -->
        
    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Ajouter exercice</h6>
                        </div>
                        <div class="card-body">
                            <!-- Form Start -->
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="form-group">
                                {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="form-group">
                                {{ form_row(form.nombreRepetition, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.Activite, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <!-- Place the niveau field here -->
                            <div class="form-group">
                                {{ form_row(form.niveau, {'attr': {'class': 'form-control'}, 'value': 'facile'}) }}
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                                <!-- Ajouter le bouton de retour ici -->
                                <a href="{{ path('fetch') }}" class="btn btn-secondary">Retour à la liste des exercices</a>
                            </div>
                            {{ form_end(form) }}
                            <!-- Form End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
</div>
{% endblock %}
