{% extends 'BackEnd/baseend.html.twig' %}
{% block title %} edit {% endblock %}
{% block bd %}

<!-- Begin Page Content activite -->
<div class="container-fluid">
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="container-fluid">
                                        <h6 class="m-0 font-weight-bold text-primary">Modifier Exercice</h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                    <div class="form-group">
                                        {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(form.niveau, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(form.nombreRepetition, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(form.Activite, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Modifier</button>
                                        <!-- Bouton de retour -->
                                        <a href="{{ path('fetch') }}" class="btn btn-secondary">Retour à la liste des exercices</a>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
