{% extends 'user/FrontEnd/basefHome.html.twig' %}

{% block title %} Sante 180° {% endblock %}

{% block body %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold" style="color: #66CDAA; text-align: center;">Créer un compte</h3>
                </div>
                <div class="card-body">
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_row(form.nomuser, {'label': 'Nom', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.Prenomuser, {'label': 'Prénom', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.ageuser, {'label': 'Âge', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.sexe, {'label': 'Sexe', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    
                    <div class="form-group">
                        {{ form_row(form.email, {'label': 'Email', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.mdp, {'label': 'Mode passe', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.role, {'label': 'Rôle', 'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Créer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}
